<!-- <button mat-raised-button primary>Submit</button>
<div class="mat-display-4">This is heading</div>
<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is head</div> -->

<!-- <div>
    <button color="primary" mat-raised-button> primary</button>
</div> -->

<!-- <div>
    <mat-button-toggle #toggleBtn checked >
        Toggle
    </mat-button-toggle>
    {{toggleBtn.checked}}
</div> -->

<!-- <div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div> -->

<!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<mat-icon color="primary" >grade</mat-icon>
<mat-icon color="warn" >search</mat-icon>
<mat-icon color="accent" >home</mat-icon>
<mat-icon >delete</mat-icon> // https://fonts.google.com/icons?selected=Material+Icons+Outlined:delete:&icon.set=Material+Icons//
<mat-icon >verified</mat-icon> -->

<!-- <div>
    <span matBadge="1">Notification</span>

</div>
<div>
    <span matBadge="1" matBadgeSize="small">Notification</span>

</div>
<div>
    <span matBadge="1" matBadgeSize="medium">Notification</span>

</div>
<div>
    <span matBadge="1" matBadgeSize="large" matBadgeColor="primary">Notification</span>

</div>
<div>
    <span matBadge="1" matBadgePosition="below before"matBadgeColor="warn" matBadgeOverlap="false">Notification</span>

</div>
<div>
    <span matBadge="1" matBadgePosition="below after">Notification</span>

</div>
<div>
    <span matBadge="1" matBadgePosition="above before" matBadgeColor="warn"matBadgeOverlap="false">Notification</span>

</div>

<div class="demo-section">
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </div>
 -->


 <!-- <mat-spinner *ngIf="showSpinner"></mat-spinner>
 <button (click)="loadData()">Load Data</button>

 -->

 <!-- <mat-toolbar color="warn" class="navbar">
<div>Home</div>
<div>
    <span>Login</span>
    <span>Register</span>
</div>
 </mat-toolbar>
 -->

 <!-- <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="opened=!opened"><mat-icon color="accent">home</mat-icon></button>
    </mat-sidenav-content>
  
 </mat-sidenav-container> -->

 <!-- <mat-sidenav-container>
    <mat-sidenav mode="push"[(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>
        <button (click)="opened=!opened"><mat-icon color="accent">home</mat-icon></button>
    </mat-sidenav-content>
  // three modes here over, push, side//
 </mat-sidenav-container> -->

 <!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>
        <button (click)="opened=!opened"><mat-icon color="accent">home</mat-icon>Opened</button>
        <button (click)="sidenav.open()"><mat-icon color="primary">home</mat-icon>open</button>
        <button (click)="sidenav.close()"><mat-icon color="accent">home</mat-icon>close</button>
        <button (click)="sidenav.toggle()"><mat-icon color="warn">home</mat-icon>toggle</button>
    </mat-sidenav-content>
  // three modes here open(), close(), toggle //
 </mat-sidenav-container> -->

 <!-- <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item  [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
 </mat-menu>

 <button mat-flat-button class="abve"  [matMenuTriggerFor]="appMenu">Menu</button>

 <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
 </mat-menu> -->

  <!-- <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
 </mat-list>

 <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#">About</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#">Services</a>
    <mat-divider></mat-divider>
 </mat-nav-list> 

 <mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
       
        <p matline>Line</p>
    </mat-list-item>
  
 </mat-list> -->

<!--//first method//  <mat-grid-list cols="2" rowHeight="100px"> 
   //second method// <mat-grid-list cols="2" rowHeight="2:1"> 
    //third method//    <mat-grid-list cols="2" rowHeight="fit" style="height:200px ;" gutterSize="10px">
        
    <mat-grid-tile rowspan="1" >Tile1 </mat-grid-tile>
    <mat-grid-tile colspan="1">Tile2 </mat-grid-tile>
    <mat-grid-tile colspan="2">Tile3 </mat-grid-tile>
    <mat-grid-tile>Tile4 </mat-grid-tile>

 </mat-grid-list> -->


 <!-- <mat-accordion mult="true" hideToggle>
 <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamentals
        </mat-panel-title>
        <mat-panel-description>
            Total Duration : 3 hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course detaila.</p>
    <mat-action-row>Enroll</mat-action-row>
 </mat-expansion-panel>

 <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular materials
        </mat-panel-title>
        <mat-panel-description>
            Total Duration : 4 hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course detaila.</p>
    <mat-action-row>Enroll</mat-action-row>
 </mat-expansion-panel>
</mat-accordion> -->

<!-- <mat-card>
    <mat-card-title>
        Card title
    </mat-card-title>
    <mat-card-content>
        This is the card content
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button>Login</button>
    </mat-card-actions>
</mat-card> -->

<!-- <mat-tab-group>
    <mat-tab label="Angular">Angular Content</mat-tab>
    <mat-tab label="React">react Content</mat-tab>
    <mat-tab label="Vue">Vue Content</mat-tab>
</mat-tab-group> -->

<!-- <mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed=true>
        <p>Shipping Address Details</p>
    </mat-step>
    <mat-step label="Shipping Address" completed=true>
        <p>Billing Address Details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
   
    <mat-step label="Shipping Address"completed=false>
        <p> Order Details</p>
    </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed=true>
        <p>Shipping Address Details</p>
    </mat-step>
    <mat-step label="Shipping Address" completed=true>
        <p>Billing Address Details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
   
    <mat-step label="Shipping Address"completed=false>
        <p> Order Details</p>
    </mat-step>
</mat-vertical-stepper> -->


<!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field> -->

<!-- <mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select multiple>
        <mat-optgroup label="Frameworks" >
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="Vue">Vue</mat-option>
        </mat-optgroup>
      
    </mat-select>
</mat-form-field> -->

<!-- <form>
    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto"/>
        <mat-autocomplete #auto ='matAutocomplete' [displayWith]="displayFn">
        <mat-option *ngFor="let option of objectOptions" [value]="option">
{{option.name}}
        </mat-option>
    </mat-autocomplete>
    </mat-form-field>
</form> -->

<!-- <mat-checkbox>Checkbox</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">Checkbox</mat-checkbox>
<mat-radio-group>
    <mat-radio-button value="angular">Angular</mat-radio-button>
    <mat-radio-button value="react">React</mat-radio-button>
    <mat-radio-button value="vue">Vue</mat-radio-button>
</mat-radio-group>
 -->

 <!-- <mat-form-field>
    <input matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
 </mat-form-field> -->
<!-- <br>
<br>
<br>

 <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field> -->
  
 <!-- <button mat-raised-button matTooltip="welocome to Tooltip" matTooltipPosition="after">Hello</button>
 <button mat-raised-button 
   matTooltip="welocome to Tooltip"
  matTooltipPosition="before"
  matTooltipShowDelay="2000"
  matTooltipHideDelay="2000"
  >Hello</button>
 <br>
 <br>
 <button mat-raised-button matTooltip="welocome to Tooltip" matTooltipPosition="above">Hello</button> -->
<!-- <br>
 <br><button mat-flat-button (click)="openSnackBar('Item deleted','cancel')" color="warn">Show</button> -->

  <!-- <h2 mat-dialog-title>Session timeout</h2>
  <mat-dialog-content>you will be logged out due to inactivity</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>keep me logge in</button>
    <button mat-button mat-dialog-close>Log out</button>
  </mat-dialog-actions> -->

 